footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #282828;
	gap: 1rem;
	color: wheat;
}

footer img {
	height: 7rem;
}

footer .separator {
	background: gray;
	width: 0.1rem;
	height: 5rem;
}
