#iletisim {
	background: #ffffff;
}

#iletisim .section-header {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
	background: #ececec;
}

#iletisim .section-header .icon {
	width: 4rem;
	height: 4rem;
	fill: red;
}

#iletisim .info {
	display: flex;
	flex-direction: column;
}

#iletisim .main-container {
	display: flex;
	flex-direction: row;
	align-items: center;

	gap: 1rem;


}

#iletisim .info-logos-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	background: #d9d9d9;
	padding: 1rem;
}

#iletisim .main-logo img {
	height: 10rem;
}

#iletisim .other-logos {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

#iletisim .other-logos img {
	height: 5rem;
}

#iletisim .info-text-container {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;

}

#iletisim .info-text {
	display: flex;
	align-items: center;
	gap: 0.3rem;

}

#iletisim .info-text svg {
	height: 3rem;
	fill: red;
	flex: none;
}

#iletisim .info-text p {
	font-size: 1.6rem;
}

#iletisim .map {
	width: 100%;
	height: 61vh;
	border: none;

}

@media (max-width: 1250px) {


	#iletisim .other-logos {
		flex-direction: column;
		gap: 0.2rem;
	}

	#iletisim .other-logos img {
		height: 3rem;
	}

	#iletisim .info-text p {
		font-size: 1.4rem;
	}
}

@media (max-width: 970px) {
	#iletisim .main-container {
		flex-direction: column;
		gap: 1rem;
	}

	#iletisim .info-logos-container {
		width: 100%;
	}

	#iletisim .other-logos {
		flex-direction: row;
		gap: 1rem;
	}

	#iletisim .other-logos img {
		height: 5rem;
	}

	#iletisim .info-text-container {
		margin-bottom: 1rem;
	}

	#iletisim .info-text p {
		font-size: 1.4rem;
	}

	#iletisim .map {
		height: 43vh;
	}
}

@media (max-width: 580px) {
	#iletisim .info-logos-container {
		gap: 1rem;
	}

	#iletisim .other-logos {
		flex-direction: column;
		gap: 0.2rem;
	}

	#iletisim .other-logos img {
		height: 3rem;
	}

	#iletisim .info-text-container {
		margin: 0 1rem;
		margin-bottom: 1rem;
	}

	#iletisim .info-text p {
		font-size: 1.1rem;
	}
}
