#navbar {
	z-index: 10;
	position: sticky;
	top: 0;

	transition: 0.3s ease-in-out;
	background: linear-gradient(#000, #ffffff00);
}

#navbar .nav-layout {
	display: flex;
	justify-content: space-between;
	font-size: 1.2rem;
	align-items: center;

	padding: 0 1rem;
}

#navbar.scrolled {
	background: #272727;
}

#navbar a {
	text-decoration: none;
	color: white;
}

#navbar .logo {
	height: 6rem;
}

#navbar .icon {
	width: 3rem;
	height: 3rem;
	fill: white;
}

#navbar #sidebar-active {
	display: none;
}

#navbar .links-container {
	display: flex;
	gap: 1rem;
	align-items: center;
	flex-direction: row;
}

#navbar .menu-button {
	display: flex;
	align-items: center;
	padding: 0.75rem;
	background: #a30000;
	border-radius: 0.5rem;
	height: 4rem;
}

#navbar .menu-button:hover {
	background: #ff0000;
	transition: 0.2s ease-in-out;
}

#navbar .open-sidebar-button,
#navbar .close-sidebar-button,
#navbar #overlay {
	display: none;
}

@media (max-width: 700px) {
	#navbar .links-container {
		flex-direction: column;

		position: fixed;
		top: 0;
		right: -100%;
		z-index: 11;
		width: 12rem;
		height: 100%;

		background-color: #3f3f3f;
		box-shadow: -5px 0 14px rgba(0, 0, 0, 0.25);
		transition: 0.4s ease-in-out;

		padding: 0.5rem;
		gap: 0.5rem;
	}

	#navbar .links-container label,
	#navbar .links-container a {
		width: 100%;
	}

	#navbar .open-sidebar-button {
		justify-self: flex-end;
	}

	#navbar .open-sidebar-button,
	#navbar .close-sidebar-button {
		display: flex;
		align-items: center;
	}

	#sidebar-active:checked~.links-container {
		right: 0;
	}

	#sidebar-active:checked~#overlay {
		display: block;
		height: 100%;
		width: 100%;
		position: fixed;
		z-index: -1;
		top: 0;
		left: 0;
	}
}
